{% load i18n %}
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{% trans "Title" %}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'post-create' %}" class="nav-link" >Create</a>
          </li>
          <li class="nav-item dropdown">
            {% if request.user.is_authenticated %}
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ request.user}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
            {% else %}
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Authentication
            </a>
            {% endif %}
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'register' %}">Registration</a></li>
                <li><a class="dropdown-item" href="{% url 'login' %}">Log In</a></li>
                
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
                {% for category in categories %}
                <li><a class="dropdown-item" href="{% url 'products' category %}">{{category | title}}</a></li>
                {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            {% get_current_language as CURRENT_LANGUAGE %}
            {% get_available_languages as AVAILABLE_LANGUAGES %}
            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{CURRENT_LANGUAGE}}
            </a>
            <ul class="dropdown-menu">
                {% for language in languages %}
                <li><a class="dropdown-item" href="/{{ language.code }}/">{{language.name_local}}</a></li>
                {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>