{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Delete Post Page {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2 ">
                <h1 class="text-center text-primary">Delete Existing Post</h1>
                <form action="" method="post" enctype="multipart/form-data" >
                    <p>Are you sure? Delete this post?</p>
                    {% csrf_token %}
                    {{form | crispy}}
                    <button type="submit" class="btn btn-danger" >Yes, I'm sure</button>
                    <a href="{% url 'posts-list' %}" class="btn btn-success">No, go back</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}